.DS_Store
# systemd enablement state (created by `systemctl enable`, machine-local)
*.target.wants/
# Karabiner automatic backups (written by Karabiner-Elements, machine-local)
karabiner/.config/karabiner/automatic_backups/
