[Unit]
Description=Clipcat Daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStartPre=-/bin/rm -f %t/clipcat/grpc.sock
ExecStart=/usr/bin/clipcatd --no-daemon --replace
ExecStopPost=-/bin/rm -f %t/clipcatd.pid
Restart=on-failure
RestartSec=1s
TimeoutStopSec=5s

[Install]
WantedBy=graphical-session.target
