[Unit]
Description=Picom Compositor
After=graphical-session.target
PartOf=graphical-session.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/picom
Restart=always
RestartSec=1s
TimeoutStopSec=5s

[Install]
WantedBy=graphical-session.target
