[Unit]
Description=SuperProductivity
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/snap run superproductivity
Restart=always
RestartSec=5s
TimeoutStopSec=5s

[Install]
WantedBy=graphical-session.target
