[Unit]
Description=Telegram Desktop
After=graphical-session.target
PartOf=graphical-session.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/Telegram
Restart=always
RestartSec=5s
TimeoutStopSec=5s

[Install]
WantedBy=graphical-apps.target
