[Unit]
Description=Throne VPN
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/sudo -n /home/nik/Desktop/Throne/Throne
Restart=always
RestartSec=5s
TimeoutStopSec=5s

[Install]
WantedBy=graphical-session.target
